# macOS
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

# Bundler
.bundle

# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
# 
# Note: if you ignore the Pods directory, make sure to uncomment
# `pod install` in .travis.yml
#
# Pods/
/Example/
/Example/Pods/
/Example/Pods/Local Podspecs/
/Example/Pods/Local Podspecs/SmartPrice.podspec.json
/Example/Pods/Pods.xcodeproj/
/Example/Pods/Pods.xcodeproj/project.pbxproj
/Example/Pods/Target Support Files/
/Example/Pods/Target Support Files/Pods-SmartPrice_Example/
/Example/Pods/Target Support Files/Pods-SmartPrice_Example/Pods-SmartPrice_Example.debug.xcconfig
/Example/Pods/Target Support Files/Pods-SmartPrice_Example/Pods-SmartPrice_Example.modulemap
/Example/Pods/Target Support Files/Pods-SmartPrice_Example/Pods-SmartPrice_Example.release.xcconfig
/Example/Pods/Target Support Files/Pods-SmartPrice_Example/Pods-SmartPrice_Example-acknowledgements.markdown
/Example/Pods/Target Support Files/Pods-SmartPrice_Example/Pods-SmartPrice_Example-acknowledgements.plist
/Example/Pods/Target Support Files/Pods-SmartPrice_Example/Pods-SmartPrice_Example-dummy.m
/Example/Pods/Target Support Files/Pods-SmartPrice_Example/Pods-SmartPrice_Example-frameworks.sh
/Example/Pods/Target Support Files/Pods-SmartPrice_Example/Pods-SmartPrice_Example-Info.plist
/Example/Pods/Target Support Files/Pods-SmartPrice_Example/Pods-SmartPrice_Example-umbrella.h
/Example/Pods/Target Support Files/Pods-SmartPrice_Tests/
/Example/Pods/Target Support Files/Pods-SmartPrice_Tests/Pods-SmartPrice_Tests.debug.xcconfig
/Example/Pods/Target Support Files/Pods-SmartPrice_Tests/Pods-SmartPrice_Tests.modulemap
/Example/Pods/Target Support Files/Pods-SmartPrice_Tests/Pods-SmartPrice_Tests.release.xcconfig
/Example/Pods/Target Support Files/Pods-SmartPrice_Tests/Pods-SmartPrice_Tests-acknowledgements.markdown
/Example/Pods/Target Support Files/Pods-SmartPrice_Tests/Pods-SmartPrice_Tests-acknowledgements.plist
/Example/Pods/Target Support Files/Pods-SmartPrice_Tests/Pods-SmartPrice_Tests-dummy.m
/Example/Pods/Target Support Files/Pods-SmartPrice_Tests/Pods-SmartPrice_Tests-Info.plist
/Example/Pods/Target Support Files/Pods-SmartPrice_Tests/Pods-SmartPrice_Tests-umbrella.h
/Example/Pods/Target Support Files/SmartPrice/
/Example/Pods/Target Support Files/SmartPrice/SmartPrice.debug.xcconfig
/Example/Pods/Target Support Files/SmartPrice/SmartPrice.modulemap
/Example/Pods/Target Support Files/SmartPrice/SmartPrice.release.xcconfig
/Example/Pods/Target Support Files/SmartPrice/SmartPrice-dummy.m
/Example/Pods/Target Support Files/SmartPrice/SmartPrice-Info.plist
/Example/Pods/Target Support Files/SmartPrice/SmartPrice-prefix.pch
/Example/Pods/Target Support Files/SmartPrice/SmartPrice-umbrella.h
/Example/Pods/Manifest.lock
/Example/SmartPrice.xcworkspace/
/Example/SmartPrice.xcworkspace/xcshareddata/
/Example/SmartPrice.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/Example/SmartPrice.xcworkspace/contents.xcworkspacedata
/Example/Podfile.lock
